
body{
    background-color:rgba(179, 164, 55, 0.048);
    font-family: 'Caveat', cursive;
    font-family: 'Satisfy', cursive;
}
.catagotisFM{
    margin-top: 100px;
}

.navbar{
    padding: 20px;
    height: 0px;
    min-height: 12vh;
    z-index: 2;
    color: #fb5200;

}


.nav-bg{
    background-color:rgba(236, 211, 20, 0);
}

.navbar-brand li{
    display: inline-block;
    border: 1px solid white;
    background-color: rgb(72, 34, 212);
    color: white;
    font-family:none;
    font-size: 18px;
    border-radius: 5px;
    padding: 4px 15px;
}
.about{
    color: rgb(87, 11, 11);
}